doctype html
html
	head
		title Lorem Ipsum Post
		meta(name="description", content="Lorem ipsum dolor sit amet")
		meta(name="keywords", content="news, breaking news, news blog, business, sports, politics, technology, entertainment, living")
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", type="text/css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Poiret+One|Indie+Flower|Pacifico|Signika:600|Ubuntu+Condensed|Roboto:500|Oswald|Roboto+Slab|Open+Sans:600|Fresca|Rajdhani|Martel+Sans|Hind", type="text/css")
		link(rel="stylesheet", href="assets/css/article.css", type="text/css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")

	body

		include includes/top-bar.jade
						img(src="assets/img/art-search.png")
		hr
		.jumbotron.art-picture
			.container
		.container.main-content
			h1.art-title Duis neque elit, molestie nec tellus id, rhoncus convallis dui.
			.col-md-2.col-xs-12.right-bar
			.col-md-7.col-xs-12.article-content
				h4.sub-title <strong>Jon Snow</strong> 
				h4.sub-title May 8th, 2015
				p.first-par Quisque vel elit diam. Nulla facilisi. Nulla vel justo posuere, condimentum eros a, porttitor massa. Nunc at ipsum posuere, faucibus nisl eu, convallis nisl. Fusce non semper eros, quis consectetur erat. Pellentesque a neque odio. Nullam metus sem, interdum vitae felis vel, bibendum laoreet tortor. Quisque varius ex ac ligula ornare, vel lacinia est luctus.
				p Integer volutpat lacus a ex suscipit, eget porttitor odio pharetra. Donec quis pellentesque justo. Aliquam massa orci, rhoncus ac sem quis, pellentesque congue magna. Proin pharetra nunc sit amet justo elementum, ut condimentum risus vulputate. Vestibulum maximus, elit finibus fermentum mollis, erat magna euismod nunc, sed ultricies nisl risus vitae tellus. Pellentesque eget felis nisi. Duis dictum, elit quis ornare vestibulum, purus velit finibus risus, at lacinia orci mauris vel dui. Maecenas tincidunt vehicula neque, quis gravida risus sollicitudin non. Mauris vel ligula vitae urna aliquet congue id vel lorem. Nullam at arcu vel ligula tincidunt consectetur et quis elit. Nulla facilisi. Aliquam erat volutpat. Sed ut quam congue, consectetur mauris at, consequat leo.
				p Vestibulum blandit, massa vitae placerat aliquet, tortor tortor venenatis mauris, ac suscipit diam massa nec urna. Ut lobortis tincidunt purus non iaculis. Maecenas vitae dapibus dolor, ac varius tortor. Donec fringilla venenatis arcu, porttitor bibendum odio lacinia sit amet. Sed ac arcu consequat, pellentesque lorem et, tincidunt nibh. Ut placerat mi ut mauris interdum, ac dignissim nulla luctus. Curabitur vulputate viverra tellus eu imperdiet.
				p.box Duis id urna lorem. Praesent fermentum turpis nec ipsum dapibus, commodo congue ipsum pulvinar. Ut ac erat ex. Donec iaculis malesuada lobortis. Donec ut dolor sit amet felis egestas condimentum. In in risus sagittis, semper lacus ut, cursus nibh.
				p Etiam commodo, libero sit amet interdum tempus, lacus neque placerat enim, in iaculis neque leo quis ante. Aliquam ut magna placerat, lacinia massa sit amet, cursus arcu. Donec quis arcu vel augue efficitur facilisis at ac ligula. Maecenas nibh ligula, faucibus ut nisl condimentum, iaculis scelerisque ex. Proin gravida ante felis, ac tristique quam bibendum sit amet. Fusce lacinia, magna eget finibus tristique, sapien eros placerat dolor, eget lacinia lorem mi vitae ipsum. Sed dolor eros, viverra tristique mauris in, ullamcorper rutrum metus. Mauris vitae ligula vitae mi fermentum pharetra.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin ligula non venenatis dictum. Sed fringilla nisi justo, at semper tortor eleifend a. Aenean volutpat justo non eros aliquet blandit. Cras placerat elit interdum venenatis semper. In hac habitasse platea dictumst. Sed mollis quam nec lorem elementum mollis. Ut ultrices quis nisi in blandit. Donec ut vulputate felis. Fusce vulputate fringilla odio in elementum. Ut lobortis lacus quis odio ultricies rutrum. Mauris vitae enim convallis risus sollicitudin euismod. Integer a accumsan libero. Nulla facilisi. Donec quis elit a tortor pulvinar laoreet.
				p Nunc at metus nec nisl efficitur mollis. In vitae est ipsum. Integer porttitor gravida suscipit. Vivamus aliquam laoreet dignissim. Maecenas accumsan ex id tempus luctus. Morbi lorem sapien, pulvinar sit amet porta eget, volutpat vitae ex. In cursus euismod aliquam. Quisque sit amet ultricies orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam bibendum lorem turpis, et dapibus tellus varius vel.
				img(src="http://fillmurray.com/g/900/400")
				p Quisque malesuada mi a diam vestibulum, eu varius tellus molestie. Nam et ornare magna. Quisque tincidunt augue nisi, eget iaculis purus cursus nec. In quis feugiat lectus. Nullam neque dui, pulvinar nec ultrices vitae, pellentesque vitae purus. Sed et lectus nec metus euismod molestie eu id odio. Vestibulum rhoncus sodales leo, sed condimentum velit vulputate sed. Suspendisse mollis nisi id erat rutrum posuere. Integer lobortis in lacus id consectetur. Mauris turpis erat, semper quis porta sed, fringilla at leo. Maecenas cursus, augue id consequat hendrerit, dui mi sollicitudin tellus, ut posuere nibh diam ac erat. Aenean condimentum ex mattis dui congue, nec consectetur mi imperdiet. Suspendisse in sem non enim dignissim lobortis sit amet id augue. Fusce porttitor nunc ex, in tempor lectus eleifend vel.
				p Suspendisse auctor risus ac efficitur maximus. Maecenas eget diam hendrerit, facilisis massa et, cursus lacus. Proin egestas dui ut arcu porta imperdiet. Suspendisse neque odio, consequat vitae arcu ut, tristique facilisis tellus. Nunc ultricies mauris sed libero blandit semper. In non leo fermentum, congue nisi nec, venenatis nisi. Vivamus imperdiet consequat elit quis efficitur. Nunc faucibus id ex sed hendrerit. Suspendisse potenti. Nullam purus erat, fringilla et maximus eu, imperdiet quis dolor. Suspendisse potenti. Fusce fermentum nec lectus cursus pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
				p Integer finibus ornare auctor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris urna elit, fringilla sit amet dictum a, varius quis dui.
			.col-md-3.col-xs-12.left-bar

		include includes/footer.jade