.container.footer
	.row.main
		.col-sm-4.col-xs-6
			ul#sections 
				#title Sections
				.list
					li.section Politics
					li.section Business
					li.section Technology
					li.section Entertainment
					li.section Finance
					li.section Opinions
					li.section Local
		.col-sm-4.col-xs-6
			ul#sections
				#title Lorem Ipsum
				.list
					li.section About Us
					li.section Careers
					li.section Privacy Policy
					li.section FAQ
					li.section Archives
					li.section Contact Us
		.col-sm-4.col-xs-12.mailing
			.heading Sign up for our daily news e-mail
			.subheading Join to receive exclusive news every day for free 
			.email-form
				input(type="text", placeholder="Enter e-mail")
			a(href="").subscribe-btn Sign up
	.row.social-media
		.col-xs-12.links
			a(href="http://facebook.com")
				img(src="assets/img/icons/facebook.png")
			a(href="http://twitter.com")
				img(src="assets/img/icons/twitter2.png")
			a(href="http://instagram.com")
				img(src="assets/img/icons/instagram.png")
			a(href="http://pinterest.com")
				img(src="assets/img/icons/pinterest.png")
			a(href="http://youtube.com")
				img(src="assets/img/icons/youtube.png")
		.col-xs-12.copyright
			p Copyright 2015 Lorem Ipsum Post | Designed by <a href="http://quanhuynh.github.io"> Quan Huynh </a>