.topbar.row
	a(href="").col-sm-2.col-xs-12.sitename 
			p LOREM 
			p IPSUM 
			p POST
	.col-sm-10.col-xs-12.topbarright.container-fluid
		.col-sm-8.text-left
			.row#sections
					.section Politics
					.section Business
					.section Tech
					.section Entertainment
					.section Finance
			.row#edition
					.edition Edition
					.choice U.S. |
					.choice Europe |
					.choice Asia
		.col-sm-4.text-right
			#accountsection
				#create Create an Account
				#signin Sign in
			#searchbar
				input(type="text", placeholder="Search")